.item {
    /* background-color: #fbfbfb;
    border-radius: 1%;
    border: solid #faf7f2 1px;
    padding: 2rem; */
   
    width: 100%;
   
  }
  
  .info {
    padding: 1.2rem;
    position: relative;
    right:1rem;
  }
  
  .category {
    opacity: 0.4;
    margin-bottom: 0.2rem;
  }
  
  .name {
    color:black;
    opacity: 0.6;
    margin-bottom: 0.5rem;
    width:100vw;
  }
  
  .description {
    color:black;  
    margin-bottom: 1rem;
    width:100vw;
  }
  
  .link {
    text-decoration: none;
    align-self: center;
    color: #8183ff;
  }
  
  .textGray {
    opacity: 0.6;
  }

  .image{
    border-radius: 15px;
  }

  .btnbox{
    display:flex;
    width:100%;
    justify-content: flex-end;
    position: relative;
    z-index: 5;
    bottom:1.5rem;
    left:1rem;
  }

  .icon{
    width:36px;
    height:36px;
  }