.section{
  background-color: #FEFCF9;
  border:1px solid #000000;
  border-radius: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:1rem 4rem;
}

.container{
  overflow: hidden;
}

.col{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:3rem;
}

.row{
  width:100%;
}

.backbtn{
  display: flex;
  justify-content: center;
  -webkit-text-stroke:1px #000000 ;
  color:transparent;
  font-family: "jf-openhuminn-2.0-Regular";
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  align-content: center;
  align-items: center;
  position:unset !important;
}

.col3{
  display: flex;
  justify-content: center;
  background-color: #fffde0;
  border: 1px solid;
  border-color: #000000;
  border-radius: 50px;
  height: auto;
  position: relative;
  width: auto;
  align-content: center;
  align-items: center;
}

.box1{
  display:flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  gap:2rem;
}

.box2{
  display:flex;
  gap:1rem;
}

.box3{
  display: flex;
  flex-direction: column;
}

.divider{
  margin:12px 0;
}